#container {
    width: 400px;
    background-color: rgb(238, 232, 232);
    padding: 20px;
    border-radius: 15px;
}
#container>h1{
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 5px;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  margin-left: -2.3rem;
}

.list {
    margin: 15px 0;
}

.list>li {
    background-color: rgb(216, 193, 151);
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 12px 0;
    padding: 5px;
    background-color: rgb(105, 108, 110);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(216, 193, 151);

    border: none;
    width: 100px;
    height: 30px;
}
.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}